<%= form_for(match, remote: true) do |f| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <p>
      <%= f.label :skill_rating %>
      <%= f.number_field :skill_rating, autofocus: true, required: true, class: 'form-control' %>
    </p>

    <p>
      <%= f.label :map_id, 'Select map of this match' %>
      <%= select_tag :map_id, options_for_select(@maps, @match.map.try(:id)), required: true, class: 'form-control select2' %>
    </p>

    <p>
      <%= f.label :heroes_ids, 'Heroes' %>
      <p>
        <small>
          Choose heroes you played most in this match
        </small>
      </p>
      <%= f.select :hero_ids, @heroes, {}, { required: true, multiple: true, class: 'form-control select2', size: 10 } %>
    </p>

    <p>
      <hr>
      <strong>Optional</strong>
    </p>

    <p>
      <%= f.label :rounds, 'How many rounds you\'ve played?' %>
      <%= f.number_field :rounds, class: 'form-control', max: 6 %>
    </p>

    <p>
      <%= f.label :party_size, 'How many players were in your group (including you)?' %>
      <%= f.number_field :party_size, class: 'form-control', max: 6 %>
    </p>

    <p>
      <%= f.label :comment %>
      <%= f.text_area :comment, class: 'form-control', placeholder: 'You can add some notes about this match' %>
    </p>

    <p>
      <%= f.submit 'Save match', class: 'btn btn-success' %>
    </p>
  </div>
<% end %>
