<%= form_for(match) do |f| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-12 col-offset-sm-4 col-sm-4 col-md-offset-4 col-md-4   col-lg-4 col-lg-offset-4">
      <p>
        <%= f.label :skill_rating %>
        <%= f.number_field :skill_rating, autofocus: true, required: true, class: 'form-control' %>
      </p>

      <p>
        <%= f.label :heroes_ids, 'Heroes' %>
        <p>
          <small>
            Choose heroes you played most in this match
          </small>
        </p>
        <%= f.select :hero_ids, @heroes, {}, { required: true, multiple: true, class: 'form-control select2', size: 10 } %>
      </p>

      <p>
        <%= f.label :map_id, 'Select map of this match' %>
        <%= select_tag :map_id, options_for_select(@maps, @match.map.try(:id)), required: true, class: 'form-control select2' %>
      </p>

      <p>
        <%= f.submit 'Save match', class: 'btn btn-success' %>
      </p>
    </div>
  </div>
<% end %>
