<% if matches.any? && export_matches.any? %>
  <% if sr_per_day %>
    <div class='jumbotron'>
      <h4 class='text-center'>
        To get to next league you should win at least <span class='bg-success'><%= sr_per_day %> Skill Rating</span> per day

      </h4>
    </div>
  <% end %>
  <p>
    Season will be finished by <%= end_of_season.to_date %> (approx)
    <br>
    <%= days_left %> days till end of season
    <br>
    <% if next_league %>
      Current league — <%= league %>, next — <%= next_league %>
    <% else %>
      Current league — <strong><%= league %></strong>, congratulations!
    <% end %>
  </p>
  <p>
    Legend: last matches are on top, <span class='win'>green</span> SR means you are above your first match in the season, <span class='lose'>red</span> — below.
  </p>
<% else %>
  <div class="jumbotron">
    <p class='text-center'>
      Record your matches results to gather statistics
      <br>
      <br>
      <%= link_to 'Add first match data!', new_match_path, class: 'btn btn-success' %>
    </p>
  </div>
<% end %>
