<div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-3 col-sm-6 col-lg-offset-3 col-lg-6">
  <p id='notice'><%= notice %></p>

  <h1>Matches in <%= @season.name %></h1>

  <div class="table-responsive">
    <table class='table' id='matches'>
      <thead>
        <tr>
          <th>
            <span data-toggle="tooltip" data-placement="top" title="Match number">#</span>
          </th>
          <th>
            <span data-toggle="tooltip" data-placement="top" title="Skill rating">SR</span>
          </th>
          <th>Result</th>
          <th>
            <span data-toggle="tooltip" data-placement="top" title="Skill rating gain/loss">±SR</span>
          </th>
          <th>Streak</th>
        </tr>
      </thead>

      <tbody>
        <% @matches.each.with_index(1) do |match, index| %>
          <tr>
            <td class='game-number'>
              <%= index %>
            </td>
            <td class='skill-rating'>
              <%= link_to match.skill_rating, match %>
            </td>
            <td class='result'>
              <%= match.result %>
            </td>
            <td class='skill-rating-diff'>
              <%= match.sr_diff %>
            </td>
            <td class='streak'>
              <%= match.streak %>
            </td>
            <td>
              <%= link_to edit_match_path(match) do %>
                <i class="glyphicon glyphicon-edit"></i>
              <% end %>
              <%= link_to match, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="glyphicon glyphicon-remove"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  </div>
</div>
