<div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-3 col-sm-6 col-lg-offset-3 col-lg-6">
  <p id='notice'><%= notice %></p>

  <h1>Matches in <%= @season.name %></h1>

  <%= link_to 'New Match', new_match_path, class: 'btn btn-primary' %>

  <div class="table-responsive">
    <table class='table' id='matches'>
      <thead>
        <tr>
          <th>#</th>
          <th>SR</th>
          <th>Result</th>
          <th>±SR</th>
          <th>Streak</th>
        </tr>
      </thead>

      <tbody>
        <% @matches.each.with_index(1) do |match, index| %>
          <tr>
            <td class='game-number'>
              <%= index %>
            </td>
            <td class='skill-rating'>
              <%= link_to match.skill_rating, match %>
            </td>
            <td class='result'>
              <%= match.result %>
            </td>
            <td class='skill-rating-diff'>
              <%= match.sr_diff %>
            </td>
            <td class='streak'>
              <%= match.streak %>
            </td>
            <td>
              <%= link_to edit_match_path(match) do %>
                <i class="glyphicon glyphicon-edit"></i>
              <% end %>
              <%= link_to match, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="glyphicon glyphicon-remove"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#donut" aria-controls="donut" role="tab" data-toggle="tab">Donut</a></li>
    <li role="presentation"><a href="#main_stats" aria-controls="main_stats" role="tab" data-toggle="tab">Main stats</a></li>
    <li role="presentation"><a href="#skill_rating" aria-controls="skill_rating" role="tab" data-toggle="tab">Skill Rating Chart</a></li>
    <li role="presentation"><a href="#map_types" aria-controls="map_types" role="tab" data-toggle="tab">Map types</a></li>
    <li role="presentation"><a href="#map_breakdown" aria-controls="map_breakdown" role="tab" data-toggle="tab">Map breakdown</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="donut">
      <div id="results_donut"></div>
    </div>
    <div role="tabpanel" class="tab-pane" id="main_stats">
      <table class='table'>
        <tr>
          <th>Main statistics</th>
        </tr>
        <tr>
          <td>Games played</td>
          <td><%= @games_played %></td>
        </tr>
        <tr>
          <td>Wins</td>
          <td><%= @wins %></td>
        </tr>
        <tr>
          <td>Losses</td>
          <td><%= @losses %></td>
        </tr>
        <tr>
          <td>Wins %</td>
          <td><%= @win_percent %></td>
        </tr>
        <tr>
          <td>Loss %</td>
          <td><%= @lose_percent %></td>
        </tr>
        <tr>
          <td>Draw %</td>
          <td><%= @draw_percent %></td>
        </tr>
        <tr>
          <td>Longest win streak</td>
          <td><%= @longest_win_streak %></td>
        </tr>
        <tr>
          <td>Longest loss streak</td>
          <td><%= @longest_loss_streak %></td>
        </tr>
        <tr>
          <td>Average gain</td>
          <td><%= @average_gain %></td>
        </tr>
        <tr>
          <td>Average loss</td>
          <td><%= @average_loss %></td>
        </tr>
      </table>

    </div>
    <div role="tabpanel" class="tab-pane" id="skill_rating">
      <div id="skill_rating_chart"></div>
    </div>
    <div role="tabpanel" class="tab-pane" id="map_types">
      <table class="table">
        <tr>
          <th colspan='9'>Map types</th>
        </tr>
        <tr>
          <th>Map type</th>
          <th>% played</th>
          <th>Played</th>
          <th>Wins</th>
          <th>Losses</th>
          <th>Draws</th>
          <th>Win %</th>
          <th>Loss %</th>
          <th>Draw %</th>
        </tr>
        <tr>
          <td>Assault maps</td>
          <td><%= @assault_maps_played %></td>
          <td><%= @assault_maps_played_percent %>%</td>
          <td><%= @assault_maps_wins %></td>
          <td><%= @assault_maps_losses %></td>
          <td><%= @assault_maps_draws %></td>
          <td><%= @assault_maps_wins_percent %>%</td>
          <td><%= @assault_maps_losses_percent %>%</td>
          <td><%= @assault_maps_draws_percent %>%</td>
        </tr>
        <tr>
          <td>Escort maps</td>
          <td><%= @escort_maps_played %></td>
          <td><%= @escort_maps_played_percent %>%</td>
          <td><%= @escort_maps_wins %></td>
          <td><%= @escort_maps_losses %></td>
          <td><%= @escort_maps_draws %></td>
          <td><%= @escort_maps_wins_percent %>%</td>
          <td><%= @escort_maps_losses_percent %>%</td>
          <td><%= @escort_maps_draws_percent %>%</td>
        </tr>
        <tr>
          <td>Hybrid maps</td>
          <td><%= @hybrid_maps_played %></td>
          <td><%= @hybrid_maps_played_percent %>%</td>
          <td><%= @hybrid_maps_wins %></td>
          <td><%= @hybrid_maps_losses %></td>
          <td><%= @hybrid_maps_draws %></td>
          <td><%= @hybrid_maps_wins_percent %>%</td>
          <td><%= @hybrid_maps_losses_percent %>%</td>
          <td><%= @hybrid_maps_draws_percent %>%</td>
        </tr>
        <tr>
          <td>Control maps</td>
          <td><%= @control_maps_played %></td>
          <td><%= @control_maps_played_percent %>%</td>
          <td><%= @control_maps_wins %></td>
          <td><%= @control_maps_losses %></td>
          <td><%= @control_maps_draws %></td>
          <td><%= @control_maps_wins_percent %>%</td>
          <td><%= @control_maps_losses_percent %>%</td>
          <td><%= @control_maps_draws_percent %>%</td>
        </tr>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="map_breakdown">
      <table class="table">
        <tr>
          <th>Map</th>
          <th>% played</th>
          <th>Played</th>
          <th>Wins</th>
          <th>Losses</th>
          <th>Draws</th>
          <th>Win %</th>
          <th>Loss %</th>
          <th>Draw %</th>
        </tr>
        <% @maps.each do |map| %>
          <tr>
            <td><%= map.name %></td>
            <td><%= map.percent_played(@matches) %>%</td>
            <td><%= map.played(@matches) %></td>
            <td><%= map.wins(@matches) %></td>
            <td><%= map.losses(@matches) %></td>
            <td><%= map.draws(@matches) %></td>
            <td><%= map.wins_percent(@matches) %>%</td>
            <td><%= map.losses_percent(@matches) %>%</td>
            <td><%= map.draws_percent(@matches) %>%</td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
</div>
