<div class="col-xs-12 col-sm-offset-2 col-md-offset-2 col-sm-8 col-lg-offset-2 col-lg-8">

  <% if @qualification.persisted? && @qualification.skill_rating %>
    <h1 class='text-center'>Matches in <%= @season.name %></h1>

    <%= render 'jumbotron' %>

    <% if @matches.any? %>
      <div class="row">
        <table class='table' id='matches' data-first='<%= @qualification.skill_rating %>'>
          <thead>
            <tr>
              <th>
                <span data-toggle="tooltip" data-placement="top" title="Match number">#</span>
              </th>
              <th>
                <span data-toggle="tooltip" data-placement="top" title="Skill rating">SR</span>
              </th>
              <th>Result</th>
              <th>
                <span data-toggle="tooltip" data-placement="top" title="Skill rating gain/loss">±SR</span>
              </th>
              <th>Streak</th>
            </tr>
          </thead>

          <tbody>
            <% @matches.each do |match| %>
              <% cache match do %>
                <%= render match %>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>

    <div class="text-center">
      <%= will_paginate @matches %>
    </div>
    <% if @export_matches.any? %>
      <%= link_to "Export to CSV", matches_path(format: :csv), class: 'btn btn-default' %>
    <% end %>
  <% else %>
    <h1 class='text-center'><%= @season.name %> season qualification</h1>

    <div class='jumbotron'>
      <p>
        To record new matches, provide current season qualification data. It's ok if you can't remember your number of wins, draws and losses in your qualification, just provide starting Skill Rating value.
      </p>

      <small>
        Also, if you already created some matches, edit and save the very first match to recalculate it's results. Thank you.
      </small>

      <%= form_for(@qualification, method: :patch) do |f| %>
        <div class="row">
          <div class='col-md-3'>
            <%= f.number_field :skill_rating, placeholder: 'Skill Rating', required: true, class: 'form-control' %>
            <%= f.label :skill_rating, 'required' %>
          </div>

          <div class='col-md-3'>
            <%= f.number_field :wins, placeholder: 'Wins', class: 'form-control', max: 10 %>
            <%= f.label :wins, 'optional' %>
          </div>

          <div class='col-md-3'>
            <%= f.number_field :losses, placeholder: 'Losses', class: 'form-control', max: 10 %>
            <%= f.label :losses, 'optional' %>
          </div>

          <div class='col-md-3'>
            <%= f.number_field :draws, placeholder: 'Draws', class: 'form-control', max: 10 %>
            <%= f.label :draws, 'optional' %>
          </div>
        </div>

        <div class="row submit-qualification">
          <div class='text-center'>
            <%= f.submit "Save qualification", class: 'btn btn-success' %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
