<div class="col-xs-12 col-sm-offset-2 col-md-offset-2 col-sm-8 col-lg-offset-2 col-lg-8">

  <% if @qualification.persisted? && @qualification.skill_rating %>
    <h1 class='text-center'>Matches in <%= @season.name %></h1>
    <div class='jumbotron'>
      <h4 class='text-center'>
        To get to next league you should win at least <span class='bg-success'><%= @sr_per_day %> Skill Rating</span> per day
      </h4>
    </div>
    <p>
      Season will be finished by <%= @end_of_season.to_date %> (approx)
      <br>
      <%= @days_left %> days till end of season
      <br>
      Current league — <%= @league %>, next — <%= @next_league %>
    </p>
    <p>
      Legend: last matches are on top, <span class='win'>green</span> SR means you are above your first match in the season, <span class='lose'>red</span> — below.
    </p>

    <div class="row">
      <table class='table' id='matches' data-first='<%= @qualification.skill_rating %>'>
        <thead>
          <tr>
            <th>
              <span data-toggle="tooltip" data-placement="top" title="Match number">#</span>
            </th>
            <th>
              <span data-toggle="tooltip" data-placement="top" title="Skill rating">SR</span>
            </th>
            <th>Result</th>
            <th>
              <span data-toggle="tooltip" data-placement="top" title="Skill rating gain/loss">±SR</span>
            </th>
            <th>Streak</th>
          </tr>
        </thead>

        <tbody>
          <% @matches.each do |match| %>
            <tr>
              <td class='game-number'>
                <%= match.number %>
              </td>
              <td class='skill-rating'>
                <a tabindex='0' role='button'
                data-toggle='popover'
                data-placement='bottom'
                data-trigger='focus'
                data-html='true'
                data-content="
                  <p>
                    <strong>Map: </strong>
                    <%= match.map.name %>
                  </p>

                  <p>
                    <strong>Played heroes:</strong>
                    <% match.heros.each do |hero| %>
                      <li>
                        <%= hero.name %>
                      </li>
                    <% end %>
                  </p>

                  <% if match.party_size.present? %>
                    <p>
                      <strong>Party size: </strong>
                      <%= match.party_size %>
                    </p>
                  <% end %>

                  <% if match.rounds.present? %>
                    <p>
                      <strong>Rounds played: </strong>
                      <%= match.rounds %>
                    </p>
                  <% end %>

                  <% if match.comment.present? %>
                    <p>
                      <strong>Comment: </strong>
                      <%= sanitize(match.comment) %>
                    </p>
                  <% end %>
                ">
                  <% if match.comment.present? %>
                    <i class="glyphicon glyphicon-file"></i>
                  <% end %>
                  <%= match.skill_rating %>
                </a>
              </td>
              <td class='result'>
                <%= match.result %>
              </td>
              <td class='skill-rating-diff'>
                <%= match.sr_diff %>
              </td>
              <td class='streak'>
                <%= match.streak %>
              </td>
              <td class='actions'>
                <%= link_to edit_match_path(match) do %>
                  <i class="glyphicon glyphicon-edit"></i>
                <% end %>
                <%= link_to match, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="glyphicon glyphicon-remove"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="text-center">
      <%= will_paginate @matches %>
    </div>

    <%= link_to "Export to CSV", matches_path(format: :csv), class: 'btn btn-default' %>
  <% else %>
    <h1 class='text-center'><%= @season.name %> season qualification</h1>

    <div class='jumbotron'>
      <p>
        To record new matches, provide current season qualification data. It's ok if you can't remember your number of wins, draws and losses in your qualification, just provide starting Skill Rating value.
      </p>

      <small>
        Also, if you already created some matches, edit and save the very first match to recalculate it's results. Thank you.
      </small>

      <%= form_for(@qualification, method: :patch) do |f| %>
        <div class="row">
          <div class='col-md-3'>
            <%= f.number_field :skill_rating, placeholder: 'Skill Rating', required: true, class: 'form-control' %>
            <%= f.label :skill_rating, 'required' %>
          </div>

          <div class='col-md-3'>
            <%= f.number_field :wins, placeholder: 'Wins', class: 'form-control', max: 10 %>
            <%= f.label :wins, 'optional' %>
          </div>

          <div class='col-md-3'>
            <%= f.number_field :losses, placeholder: 'Losses', class: 'form-control', max: 10 %>
            <%= f.label :losses, 'optional' %>
          </div>

          <div class='col-md-3'>
            <%= f.number_field :draws, placeholder: 'Draws', class: 'form-control', max: 10 %>
            <%= f.label :draws, 'optional' %>
          </div>
        </div>

        <div class="row submit-qualification">
          <div class='text-center'>
            <%= f.submit "Save qualification", class: 'btn btn-success' %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
