<div class="col-xs-12 col-sm-offset-2 col-md-offset-2 col-sm-8 col-lg-offset-2 col-lg-8">
  <p id='notice'><%= notice %></p>

  <h1>Matches in <%= @season.name %></h1>
  <p>
    Legend: last matches are shown on top, <span class='win'>green</span> SR means you are above your first match in season, <span class='lose'>red</span> — below.
  </p>

  <div class="row">
    <table class='table' id='matches' data-first='<%= @first_match_sr %>'>
      <thead>
        <tr>
          <th>
            <span data-toggle="tooltip" data-placement="top" title="Match number">#</span>
          </th>
          <th>
            <span data-toggle="tooltip" data-placement="top" title="Skill rating">SR</span>
          </th>
          <th>Result</th>
          <th>
            <span data-toggle="tooltip" data-placement="top" title="Skill rating gain/loss">±SR</span>
          </th>
          <th>Streak</th>
        </tr>
      </thead>

      <tbody>
        <% @matches.each do |match, index| %>
          <tr>
            <!-- <td class='game-number'> -->
              <%#= @matches.offset + index %>
            <!-- </td> -->
            <td class='skill-rating'>
              <%= link_to match.skill_rating, match %>
            </td>
            <td class='result'>
              <%= match.result %>
            </td>
            <td class='skill-rating-diff'>
              <%= match.sr_diff %>
            </td>
            <td class='streak'>
              <%= match.streak %>
            </td>
            <td class='actions'>
              <%= link_to edit_match_path(match) do %>
                <i class="glyphicon glyphicon-edit"></i>
              <% end %>
              <%= link_to match, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="glyphicon glyphicon-remove"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="text-center">
    <%= will_paginate @matches %>
  </div>
</div>
