<%= javascript_include_tag 'charts' %>
<div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-3 col-sm-6 col-lg-offset-3 col-lg-6">
  <p id='notice'><%= notice %></p>

  <h1>Matches in <%= @season.name %></h1>

  <%= link_to 'New Match', new_match_path, class: 'btn btn-primary' %>

  <div class="table-responsive">
    <table class='table' id='matches'>
      <thead>
        <tr>
          <th>#</th>
          <th>SR</th>
          <th>Result</th>
          <th>±SR</th>
          <th>Streak</th>
        </tr>
      </thead>

      <tbody>
        <% @matches.each.with_index(1) do |match, index| %>
          <tr>
            <td class='game-number'>
              <%= index %>
            </td>
            <td class='skill-rating'>
              <%= link_to match.skill_rating, match %>
            </td>
            <td class='result'>
              <%= match.result %>
            </td>
            <td class='skill-rating-diff'>
              <%= match.sr_diff %>
            </td>
            <td class='streak'>
              <%= match.streak %>
            </td>
            <td>
              <%= link_to edit_match_path(match) do %>
                <i class="glyphicon glyphicon-edit"></i>
              <% end %>
              <%= link_to match, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="glyphicon glyphicon-remove"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation">
      <a href="#map_types" aria-controls="map_types" role="tab" data-toggle="tab">Map types</a>
    </li>
    <li role="presentation">
      <a href="#map_breakdown" aria-controls="map_breakdown" role="tab" data-toggle="tab">Map breakdown</a>
    </li>
    <li role="presentation">
      <a href="#games_by_map" aria-controls="games_by_map" role="tab" data-toggle="tab">Games by map</a>
    </li>
    <li role="presentation">
      <a href="#wins_per_map" aria-controls="wins_per_map" role="tab" data-toggle="tab">Wins per map</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="map_types">
    </div>
    <div role="tabpanel" class="tab-pane" id="map_breakdown">
      <table class="table">
        <tr>
          <th>Map</th>
          <th>% played</th>
          <th>Played</th>
          <th>Wins</th>
          <th>Losses</th>
          <th>Draws</th>
          <th>Win %</th>
          <th>Loss %</th>
          <th>Draw %</th>
        </tr>
        <% @maps.each do |map| %>
          <tr>
            <td><%= map.name %></td>
            <td><%= map.percent_played(@season.matches) %>%</td>
            <td><%= map.played(@season.matches) %></td>
            <td><%= map.wins(@season.matches) %></td>
            <td><%= map.losses(@season.matches) %></td>
            <td><%= map.draws(@season.matches) %></td>
            <td><%= map.wins_percent(@season.matches) %>%</td>
            <td><%= map.losses_percent(@season.matches) %>%</td>
            <td><%= map.draws_percent(@season.matches) %>%</td>
          </tr>
        <% end %>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="games_by_map">
      <div id="games_played_by_map_donut"></div>
    </div>
    <div role="tabpanel" class="tab-pane" id="wins_per_map">
      <div id="map_win_percentage"></div>
    </div>
  </div>
</div>
</div>
