<p id="notice"><%= notice %></p>

<p>
  <strong>Result:</strong>
  <%= @match.result %>
</p>

<strong>Rating: </strong>
<%= @match.skill_rating %>

<br>

<strong>Map: </strong>
<%= @match.map.name %>

<p>
  <strong>Heroes ids:</strong>
  <% @match.heros.each do |hero| %>
    <li>
      <%= hero.name %>
    </li>
  <% end %>
</p>

<p>
  <strong>Comment: </strong>
  <%= @match.comment %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %>
